* {
    margin: 0;
    font-size: 15px;
}

.flex-container {         
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    height: 100vh;
    /*gap: 5px;*/
}

.flex-container > div{
    background: #990000;
    border: 3px solid #7c0101;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}         

.classes { 
    align-self:auto;
    min-width: 150px;
}

.search { 
    align-self:auto;
    width: 250px;
    max-width: 250px;
}
#input{
    width: 95%;
}
#loading{
    display: none;
}
#searchResultsContainer{
    max-height: 95%;
    overflow-y: scroll;
    margin-top: 5px;
}
.searchResult{
    border: 1px solid black;
    background-color: white;
    color: black;
    margin-bottom: 5px;
    padding: 1px;
    min-width: 97%;
    width: 97%;
    max-width: 97%;
}
.searchResultButton{
    width: 100%;
}
.searchResultButton:hover{
    background-color: #eaeaea;
}
.searchedCourseInfo{
    display: none;
}
.searchSection{
    border: 1px solid grey;
    padding: 1px;
}

.calendar { 
    flex: auto;
    align-self:auto;
}
.scrollcalcontainer {
    display: flex;
    flex-direction: column;
    height: 85vh;
    /* This is not ideal for setting the height of the calendar section */
}
.scrollcal {
    overflow-y: scroll;
    flex: auto;
}
.tg  {
    border-collapse:collapse;
    border-spacing:0;
    width: 100%;
    background-color: white;
    line-height: 5px;
    color: black;
}
.thead {
    width: calc(100% - 17px);
    /* This doesn't scale right */
}
.tg td{border-color:black;border-style:solid;border-width:1px;font-size:14px;
    overflow:hidden;padding:7px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .cal-weekend{
    background-color:#b1b1b1;
    text-align:left;
    vertical-align:top;}
.tg .cal-day{
    width:100px;
    text-align:left;
    vertical-align:top;
}
.tg .cal-time{
    width: 50px;
    text-align:left;
    vertical-align:top;
    font-size:11px;
}
  