* {
    margin: 0;
    /* font-size: 15px; */
}

.flex-container {         
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    height: 100vh;
    /*gap: 5px;*/
}

.flex-container > div{
    /* background: #990000; */
    /* border: 3px solid #7c0101; */
    /* color: white; */
    /* border-radius: 5px; */
    /* padding: 5px; */
    /* margin: 5px; */
}         

.leftbar {
    display: flex;
    flex-direction: column;
    width: 250px;
    max-width: 250px;
}
.tabs {
    padding: 5px;
    border-bottom: 1px solid rgb(222, 226, 230);
    padding-bottom: 0px;
}
.tabs button {
    margin-bottom: -1px;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-top-color: rgb(212, 216, 220);
    border-right-color: rgb(212, 216, 220);
    /* border-bottom-color: rgb(255, 255, 255); */
    border-left-color: rgb(212, 216, 220);
    padding: 0.5rem 1rem;
    padding-bottom: 0.35rem;
    background: white;
    color: #007bff;
}
.tabs .active {
    color: black;
    border-top-color: rgb(163 163 163);
    border-right-color: rgb(163 163 163);
    border-left-color: rgb(163 163 163);
}
.tabs .active:hover {
    color: black;
}
.tabs button:hover {
    color: #0056b3;
}
.leftbarcontent {
    align-self:auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
}
/* #classes { 
    align-self:auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
#search { 
    align-self:auto;
    padding: 5px;
    overflow-y: auto;
    display: none;
} */
#search {
    display: none;
}
#input{
    width: 95%;
}
#loading{
    display: none;
}
.classesContainer{
    max-height: 95%;
    /* overflow-y: scroll; */
    overflow-y: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
.classesbottom {
    margin-top: auto;
    display: flex;
}
#last {
    padding: 3px;
}
.tooltip {
    position: relative;
}
.tooltip:hover .tooltipright {
    visibility: visible;
}
.tooltip .tooltipright {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 6px;
    top: -3px;
    left: 102%;
}
.tooltip .tooltipright::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }
.searchResult{
    /* border: 1px solid black;
    background-color: white; */
    color: black;
    margin-bottom: 5px;
    /* padding: 1px; */
    min-width: 97%;
    width: 97%;
    max-width: 97%;
}
.searchResultButton{
    width: 100%;
}
.searchResultButton:hover{
    background-color: #eaeaea;
}
.displayCourseInfo{
    display: none;
    background: white;
}
.searchSection{
    border: 1px solid grey;
    padding: 1px;
}
.sectionLabel{
    font-weight: 500;
}
.calendar { 
    flex: auto;
    align-self: auto;
    display: flex;
    flex-direction: column;
}
.caltop {
    min-height: 25px;
    height: 25px;
    display: flex;
    padding: 5px;
}
.saveloadsched {
    margin-left: auto;
    display: flex;
}
.saveloadsched button {
    height: 23px;
}
#schedinput {
    height: 19px;
    border: 1px solid #767676;
    border-right: none;
}
#scheddropdown {
    display: none;
}
#scheddropdownbutton {
    border: 1px solid #767676;
}
#savesched {
    margin-left: 5px;
}
.dropdown {
    z-index: 2;
}
.dropdown li {
    background: white;
    color: black;
    list-style-type: none;
    padding: 3px;
    border: black solid 1px;
}
.dropdown li:hover {
    background: lightgray;
    cursor: pointer;
}
.scrollcalcontainer {
    display: flex;
    flex-direction: column;
    /* height: 95%; */
    /* This is not ideal for setting the height of the calendar section */
    /* overflow-y: scroll; */
    overflow-y: auto;
}
#scrollcal {
    position: relative;
}
.calsection {
    position: absolute;
    box-sizing: border-box;
    padding-top: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-right: 17px;
    line-height: 1em;
    background: #ffcc00;
    color: black;
    cursor: grab;
    font-size: 11px;
}
.calsection button {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 14px;
    font-size: 11px;
    padding: 1px;
    height: 16px;
    line-height: 11px;
}
.calpossible {
    background: pink;
    opacity: 75%;
    text-align: center;
    border: 3px solid #fda6b4;
    padding: 1px;
    line-height: 1.2em;
}
.calpossiblelist {
    position: absolute;
    z-index: 1;
    background-color: black;
    padding: 5px;
    border-radius: 6px;
    /* top: -3px; */
    /* left: 105%; */
}
.calpossiblelist .calpossible {
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    opacity: 100%;
}
.calpossible br {
    display: block;
    content: "";
    margin-bottom: 1px;
}
.dragover {
    border: 3px dotted #666;
}
.tg  {
    /*border-collapse:collapse;*/
    border-color: separate;
    border-spacing:0;
    width: 100%;
    background-color: white;
    line-height: 5px;
    color: black;
}
.thead {
    position: sticky;
    top: 0;
    z-index: 1;
}
.thead .cal-time{
    border-bottom-width: 0px;
}
.tg td{border-color:black;
    /* border-style:solid; */
    border-right-style: solid;
    border-left-style: solid;
    border-top-style: solid;
    border-width:1px;
    font-size:14px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;}
.tg th{border-color:black;
    border-style:solid;
    border-width:1px;
    font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;}
.tg .cal-weekend{
    background-color:#d3d3d3;
    text-align:left;
    vertical-align:top;}
.tg .cal-weekday{
    background-color: white;
}
.tg .cal-day{
    width:100px;
    text-align:left;
    vertical-align:top;
}
.tg .cal-time{
    width: 50px;
    text-align:left;
    vertical-align:top;
    font-size:11px;
    border-top-style: solid;
    /* border-bottom-style: solid; */
}
.tg .cal-00 {
    border-top-style: solid;
}
.tg .cal-30 {
    border-top-style: dashed;
    border-top-color: #b1b1b1;
}